.DS_Store
node_modules
/public
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.test
.vercel
.output

# Logs
*.log

# IDE
.idea

# Secrets
/credentials.json
gha-creds-*.json

# Firebase
/.firebase
/extensions/
/src/seeder/*.js
/src/seeder/*.js.map

# Sentry Auth Token
.sentryclirc
