@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.var.woff2") format("woff2");
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-full scroll-smooth bg-white;
}

body {
    @apply h-full;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

kbd {
    @apply rounded-sm bg-gray-50 px-1 pt-px font-mono text-[0.7rem] font-semibold text-gray-500;
}

/*** Nprogress ***/
/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #f43f5e;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow:
        0 0 10px #f43f5e,
        0 0 5px #f43f5e;
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
